<!DOCTYPE html>
<html>
  <head>
    <title>Foods</title>
  </head>
    <h3>These are some foods</h3>
    <ul>
      <% foods.forEach(function(foods){ %>
        <li><%= foods.name %> is a<%= foods.type %></li>
      <% }) %>
    </ul>
  <body>

  </body>
</html>
