<!DOCTYPE html>
<html>
  <head>
    <title>New Page</title>
  </head>
  <body>
    <h1>Please edit this food:</h1>
  <form method="POST" action="/foods/<% id %>">
    <input type="text" name="foods" value="<%= What...? %>"/><br />
    <input type="text" name="color" value="<%= Color...? %>" /><br />
    <input type="submit" value='Update!'>
  </form>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>
  </body>
</html>
