<!DOCTYPE html>
<html>
  <head>
    <title>New Page</title>
  </head>
  <body>
    <h1>Please add a food:</h1>
  <form method="POST" action="/foods">
    <input type="text" name="foods" placeholder="What...?"/><br />
    <input type="text" name="color" placeholder="Color...?" /><br />
    <input type="submit" value='Add!'>
  </form>
</body>
</html>
